@import 'colors';
@import 'fonts';

@keyframes pulse {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0.25;
    }

    100% {
        opacity: 1;
    }
}

.feedSection {
    height: 80%;
    padding: 2rem 0 2rem 2rem;
}

.feedContainer {
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 400px;
    border-radius: 4px;
    position: relative;
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
    border-color: #30363d;
    border-radius: 8px;
}

.feedHeader {
    padding: 1rem 1rem;
    min-width: 15rem;
    display: flex;
    justify-content: space-between;

    h2 {
        color: #fff;
        font-size: 16px;
        font-weight: 600;
    }
}

.live {
    opacity: 0;
    color: $base-green;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid;
    border-radius: 10px;
    padding: 0.01rem 0.75rem;
    animation: pulse 2.25s ease-in-out infinite;
}

.feedBody {
    position: relative;
    height: 100%;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            font-weight: 600;
            font-family: monospace;
            padding: 0 1rem;
            color: #fff;
            display: flex;
            margin-bottom: 12px;
        }

        li:before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 16px;
            display: block;
            width: 1px;
            content: "";
            background-color: #30363d;
        }
    }
}

.commitDot {
    background-color: #33373f;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    margin-left: -4px;
}

.commitDate {
    color: #8b949e;
    font-size: 10px;
    padding: 0 0.75rem;
}

.commitMessage {
    color: #c9d1d9;
    font-size: 12px;
    padding: 0.25rem 0.75rem;
}
@media (max-width:1450px){
    .feedSection {
        max-width: 20rem;
    }
}

@media (max-width:900px){
    .feedSection {
        padding: 2rem 0 0 0;
        max-width: none;
        height: auto;
        width: auto;
    }
}

@media (max-width:490px){
    .feedSection {
    }
}
