@import 'fonts';

html,
body {
  padding: 0;
  margin: 0;
  font-family: $base-font;
  background: #0f1017;
  overflow: hidden;
}

html,body,#__next {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

*::placeholder {
  color: #c0c0c0;
}

input {
  font-family: $mono-font;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #0f1017 inset !important;
    -webkit-text-fill-color: #ffffffdb;
}