@import 'fonts';

html,
body {
  padding: 0;
  margin: 0;
  font-family: $base-font;
  background: #0f1017;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}