@import 'fonts';

.heroSection {
    height: calc(100vh - 106px); /* This will prevent the overflow by subtracting with Nav height. Might want to find a more dynamic solution */
    width: 100vw;
    box-sizing: border-box;
    padding: 2rem 0;
}

.heroContainer {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroHeader {
    display: inline-block;
    color: #fff;
    font-size: 38px;
    font-family: $serif-font;
    width: 50rem; /*This will allow for the text to wrap in a beautiful way. Might want to find a more dynamic solution */
    text-align: center;
}

.heroHeader h1 span {
    color: #64ffda;    
}

.heroSubheader{
    display: inline-block;
    color: #d7d7d7;
    font-size: 18px;
    font-family: $serif-font;
    margin: 2rem 0;
}

.heroSubheader h4 {
    font-weight: 400;
}

.heroGrid {
    margin: 2rem;
    width: 40%;
    height: 50vh;
    background-image:
      repeating-linear-gradient(rgb(75, 75, 75) 0 1px, transparent 1px 100%),
      repeating-linear-gradient(90deg, rgb(119, 119, 119) 0 1px, transparent 1px 100%);
    background-blend-mode: difference;
    background-size: 71px 71px;
    border-radius: 16px;
    border-color: #64ffda;
    box-shadow: 0 0 40px 0px #64ffda;
}