@import 'fonts';

.heroSection {
    height: calc(100vh - 106px);
    /* This will prevent the overflow by subtracting with Nav height. Might want to find a more dynamic solution */
    width: 100vw;
    box-sizing: border-box;
    padding: 2rem 0;
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(18, 108, 51, 1) 50%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(18, 108, 51, 1) 50%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(0deg, #0f1017 0%, rgb(23, 94, 49) 0%, #0f1017 50%);

}

.heroContainer {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 8rem 0;
}

.heroCaption {
    color: #fff;
    font-size: 38px;
    font-family: $mono-font;
    width: 50rem;
    text-align: center;
}

.heroCaption h1 span {
    color: #31ff75;
}


.heroSubheader {
    display: inline-block;
    color: #7e9c88;
    font-size: 16px;
    font-family: $mono-font;
    margin: 2rem 0;
    font-weight: 400;
}


.heroSearch {
    display: flex;


    input {
        color: #39a761;
        border: 1px solid #21472f;
        background-color: #07170d;
        padding: 0.5rem 2rem;
        margin-right: 2rem;
        border-radius: 4px;
        outline: none;
    }

    button {
        background-color: #31ff75;
        border: none;
        outline: none;
        border-radius: 4px;
        padding: 0.5rem 2rem;
        cursor: pointer;
        font-family: $mono-font;
        font-weight: 600;
    }

    button:hover {
        background-color: #2dda66;
    }

    button:active {
        background-color: #26bb58;
    }
}

.heroGrid {
    margin: 2rem;
    width: 40%;
    height: 50vh;
    background-image:
        repeating-linear-gradient(rgb(75, 75, 75) 0 1px, transparent 1px 100%),
        repeating-linear-gradient(90deg, rgb(119, 119, 119) 0 1px, transparent 1px 100%);
    background-blend-mode: difference;
    background-size: 71px 71px;
    border-radius: 16px;
    border-color: #64ffda;
    box-shadow: 0 0 25px 0px #64ffda;


}

.previewWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {

        /* position: absolute;
        right: 375px;
        bottom: 165px; */
        /* box-shadow: #008f6d 0px 0px 40px 0px; */
    }
}

.previewXL {
    display: block;
}

.previewLarge {
    display: none;
}

.preview {
    display: none;
}

@media (max-width: 1600px) {
    .previewLarge {
        display: block;
    }

    .previewXL {
        display: none;
    }

    .preview {
        display: none;
    }

    .heroHeader {
        width: 42rem;
        font-size: 36px;
    }

    .heroSubheader {
        font-size: 18px;
    }

    .heroGrid {
        width: 45%;
        height: 45vh;
    }
}

@media (max-width: 1290px) {
    .previewLarge {
        display: none;
    }

    .previewXL {
        display: none;
    }

    .preview {
        display: block;
    }

    .heroHeader {
        width: 42rem;
        font-size: 32px;
    }

    .heroSubheader {
        font-size: 16px;
    }

    .heroGrid {
        width: 40%;
        height: 35vh;
    }

    /* .heroHeader {
        width: 35rem;
        font-size: 28px;
    }
    .heroSubheader {
        font-size: 14px;
    } */
}


@media (max-width: 900px) {
    .heroHeader {
        width: 38rem;
        font-size: 30px;
    }

    .heroSubheader {
        font-size: 16px;
    }
}

@media (max-width: 690px) {
    .heroHeader {
        width: 30rem;
        font-size: 22px;
    }

    .heroSubheader {
        font-size: 14px;
    }
}

@media (max-width: 900px) {
    .heroHeader {
        width: 28rem;
        font-size: 24px;
    }

    .heroSubheader {
        font-size: 16px;
    }

    .heroGrid {
        width: 80%;
        height: 40vh;

        svg {
            display: none;
        }
    }
}

@media (max-width: 490px) {
    .heroHeader {
        font-size: 18px;
    }

    .heroSubheader {
        font-size: 12px;
    }

    .heroGrid {
        width: 80%;
        height: 45vh;
    }
}