.navHeader {
    display: flex;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    width: 100%;
    height: auto;
    top: 0px;
    transition: all 0.2s cubic-bezier(.17,.67,.83,.67); 
    /* background-color: #181a21; Provides a color for the Nav header. Might want to leave this off, for now */
}

.navLogo {
    font-family: 'Roboto Mono', monospace;
    font-size: 26px;
    color: #fff;
}

.nav {
    display: flex;
    padding: 2.25rem 10rem;
    justify-content: space-between;
    width: 100%;
}

.navLogo a span {
    color: #64ffda;
}

.navEnd {

}

.navGH {
    cursor:default;
}

.navGH svg:hover {
    opacity: 0.75;
    cursor: pointer;
}