.navHeader {
    display: flex;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    width: 100%;
    height: auto;
    top: 0px;
    transition: all 0.2s cubic-bezier(.17,.67,.83,.67); 
    /* background-color: #181a21; Provides a color for the Nav header. Might want to leave this off, for now */
}

.navLogo {
    font-family: 'Roboto Mono', monospace;
    font-size: 26px;
    color: #fff;
}

.nav {
    display: flex;
    padding: 2.25rem 10rem;
    justify-content: space-between;
    width: 100%;
}

.navLogo a span {
    color: #64ffda;
}

.navCenter {
    max-width: 272px;
    width: 100%;
}

.navSearch {
    border: 1px solid #30363d;
    border-radius: 6px;
    padding: 6px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.navSearch input {
    outline: none;
    background-color: #0f1017;
    border: transparent;
    color: #fff;
    
}

.navGH {
    cursor:default;
}

.navGH svg:hover {
    opacity: 0.75;
    cursor: pointer;
}