.navHeader {
    display: flex;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    width: 100%;
    height: auto;
    top: 0px;
    transition: all 0.2s cubic-bezier(.17, .67, .83, .67);
    /* background-color: #181a21; Provides a color for the Nav header. Might want to leave this off, for now */
}

.navLogo {
    font-family: 'Roboto Mono', monospace;
    font-size: 26px;
    color: #fff;
}

.nav {
    display: flex;
    padding: 2.25rem 10rem;
    justify-content: space-between;
    width: 100%;
}

.navLogo a span {
    color: #64ffda;
}

.navCenter {
    max-width: 272px;
    width: 100%;
}

.navSearch {
    border: 1px solid #30363d;
    border-radius: 6px;
    padding: 6px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #ffffff;
}

.navSearch span {
    color: #ececec;
    line-height: 1;
    border-right: 1px solid #30363d;
    font-size: 12px;
    padding: 0 0.5rem;
}

.navSearch input {
    outline: none;
    background-color: #0f1017;
    border: transparent;
    color: #fff;
    padding: 0 0.5rem;
}

.navEnd {
    display: flex;
    align-items: center;
}

.navGH {
    cursor: default;
}

.navGH svg:hover {
    opacity: 0.75;
    cursor: pointer;
}


@media (max-width: 1600px) {
    .navLogo {
        font-size: 22px;
    }
}

@media (max-width: 1290px) {
    .navLogo {
        font-size: 20px;
    }

    .navSearch {
        font-size: 12px;
        line-height: 16px;

        input {
            font-size: 12px;
        }
    }
}


@media (max-width: 1150px) {
    .nav {
        padding: 2.25rem 6rem;
    }
}

@media (max-width: 900px) {
    .navLogo {
        font-size: 18px;
    }

    .nav {
        padding: 2.25rem 4rem;
    }

    .navSearch {
        font-size: 10px;
        line-height: 14px;

        input {
            font-size: 10px;
        }
    }
}

@media(max-width:500px) {
    .navCenter{
        max-width: 175px;
        width: 100%;
    }

    .nav {
        padding: 1.25rem 2rem;
    }

    .navSearch {
        font-size: 8px;
        line-height: 8px;
        display: flex;
        align-items: center;

        span {
            font-size: 9px;
        }
        input {
            font-size: 9px;
            width: 100%;
        }
    }
}