@import 'colors';
@import 'fonts';

.portfolioContainer {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 10rem;
}

.portfolioLeft {
    display: flex;
    justify-content: center;
    width: 30%;
    height: 80%;
    /* background-color: $base-green; */
    border-radius: 8px;
}

.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    /* background-color: $green; */
    border-radius: 8px;
    /* padding: 4rem 0; */
}

.profileWrapper {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    div {
        color: #fff;
    }
}

.portfolioBio {
    margin: 2rem 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    border-color: #30363d;
}

.portfolioImg {
    width: 100%;
    height: 225px;
    background-color: $gray ;
    border-radius: 8px;
}

.name {
    /* margin: 1rem 0; */
    text-align: start;
    font-size: 22px;
}

.username {
    text-align: start;
    font-size: 16px;
}

.username:before {
    content: "";
    display: inline-block;
    width: 10%;
    margin: 0 0.25rem 0 0;
    vertical-align: middle;
    border-bottom: 1px solid;
    color: #fff;
}

.bio {
    text-align: start;
    margin-top: 1rem;
    font-size: 14px;
}

.portfolioRight {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
    /* border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    border-color: #30363d;
    border-radius: 8px; */
    padding: 1rem;
}

.portfolioWrapper {
    width: 100%;
    height: 100%;
    background-color: #0f1017;
    border-radius: 8px;
    overflow: hidden;
}

.projectsSection {
    padding: 2rem 10rem;
    height: 80%;

}

.portfolioContent {
    width: 100%;
    height: 100%;

    .overviewHeader {
        color: #fff;
        padding: 0 4rem;
        font-size: 38px;
        font-family: $base-font;
        font-weight: 500;
        margin: 0;
    }
}